# <i class="fa fa-laptop"></i> Using Python for a summary of the results

<div style="background-color: #86CBBB; 1px; height:3px " ></div>

Here, we will demonstrate how to use python for some basic summary of the statistics of the Tresults generated in the CodeTheFly execise. 

In this Jupyter _notebook_ you can check and practice the exercises and some statistics from the previous practical session.

## Step 0: Understand pandas dataframes

**_Pandas Dataframes_** 

[pandas](https://pandas.pydata.org/docs/index.html#module-pandas) is a library providing high-performance, easy-to-use data structures and data analysis tools.

Dataframes contain:
- Data organized in 2 dimensions, rows and columns
- Labels that correspond to the rows and columns

Pandas dataframe:
- has functions for analyzing, exploring, and manipulating data.
- can clean messy data sets (missing, NULL, wrong values), and make them readable and relevant.
- allows us to analyze big data and make conclusions based on statistical theories.



Additional details [here](https://realpython.com/pandas-dataframe/) and tutorials [there](https://www.w3schools.com/python/pandas/default.asp)

### <i class="fa fa-search"></i> Example

In [ ]:
# import package
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

#### Use alias to import pandas

You can also use an alias. 

In Python alias are an alternate name for referring to the same thing.

Now the Pandas package can be referred to as `pd` instead of `pandas`.

In [ ]:
# import package and use abbreviation
import pandas as pd

data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai','Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

row_labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

df = pd.DataFrame(data=data, index=row_labels)

df

In [ ]:
## find index IDs
df.index

In [ ]:
## find column IDs
df.columns

In [ ]:
## access columns
df['city']

If the name of the column is a string that is a valid Python identifier, then you can use dot notation to access it. That is, you can access the column the same way you would get the attribute of a class instance:

In [ ]:
## access columns too
df.city

Also, pandas has four accessors in total:

- `.loc[]` accepts the labels of rows and columns and returns Series or DataFrames. You can use it to get entire rows or columns, as well as their parts.

- `.iloc[]` accepts the zero-based indices of rows and columns and returns Series or DataFrames. You can use it to get entire rows or columns, or their parts.

- `.at[]` accepts the labels of rows and columns and returns a single data value.

- `.iat[]` accepts the zero-based indices of rows and columns and returns a single data value.

In [ ]:
## Access the row named A
df.loc['A']

In [ ]:
## Access a row using zero-based indices
df.iloc[2]

#### Slicing dataframes
`.loc[]` and `.iloc[]` are particularly powerful. They support slicing and NumPy-style indexing. You can use them to access a column:

In [ ]:
## PROVIDE: ROWS , COLUMNS
df.loc[ ['A', 'D'], ['city','age']]

In [ ]:
## slicing dataframe: from 0-3rd row, only 0-2nd columns included
df.iloc[:3,:2]

## Step 1: Read and inspect the file Tresults

In the following code chunk, we will create an alias for pandas named pd. 

We will use a function `read_csv` to read the content of the tabular separated file (Tresults) automatically into a dataframe.

Note the argument `sep="\t"` that tells python to split columns by `\t` and not `,` (as it should do it for the comma separated values).

In [ ]:
import pandas as pd
example_res = pd.read_csv("example_Tresults.tsv", sep="\t")

In [ ]:
import pandas as pd

**ATTENTION**: Modify in the following code, the variable `file_Tresults`, to the path to your file Tresults

In [ ]:
file_Tresults = ""
example_res = pd.read_csv(file_Tresults, sep="\t")

In [ ]:
# example_res is a dataframe == Excel table
type(example_res)

In [ ]:
## get a small subset of the first lines
example_res.head()

In [ ]:
## get a small subset of the last lines
example_res.tail()

In [ ]:
## get the number of dimensions of the dataframe
example_res.shape

We can get the types of values in each of the 20 columns:
- object: character strings (A, B, C, ABC, "a string"...)
- int64: an integer number: 1,2,3,4,5...
- float64: a decimal numnber: 0.963, 0.121, 124.156...

In [ ]:
## obtain the types of values
example_res.dtypes

In [ ]:
## access the values of the column combination
example_res.combination

In [ ]:
# we can select columns which are strings, objects
example_res.select_dtypes(include=['object'])

In [ ]:
# we can select columns which are numbers
example_res.select_dtypes(include=['float', 'int'])

In [ ]:
# pandas built-in function describe allows to summarize float and integers automatically
example_res.describe()

In [ ]:
## count number of occurrences for the elements of a string column
example_res['absence_detection'].value_counts()

In [ ]:
## count number of occurrences for the elements of a string column
example_res['combination'].value_counts()

In [ ]:
## create a plot representation
example_res['combination'].value_counts().plot.bar()

Sometimes, at the left and right side of the transposon, there is a repeat.

Which are the most common ones?

In [ ]:
# get the summary of the elements in the left_repeat column
example_res['left_repeat'].value_counts()

In [ ]:
# get the summary of the elements in the right_repeat column
example_res['right_repeat'].value_counts()

In [ ]:
# get the summary of the elements in the right_repeat column
example_res['polyAT_right'].value_counts()

## Read all the results

Accompanying this python jupyter notebook there is a file named as all_results.tsv that contains the results for 100 different SRA samples.

In [ ]:
example_res_all = pd.read_csv("all_results.tsv", sep="\t")

In [ ]:
example_res_all.shape

In [ ]:
example_res_all.head()

In [ ]:
example_res_all.tail()

We can get unique values for column strain, this should be the 100 samples included

In [ ]:
## get unique values for column strain
set(example_res_all.strain)

We can get the values for all samples and an example transposon

In [ ]:
## subset the dataframe with a given value for a column: TE=FBti0063675
example_res_all[example_res_all['TE']=='FBti0063675']

We can produce some summary results for the samples

In [ ]:
## count values for each level in the combination column
example_res_all['combination'].value_counts()

By doing the previous code, we are obtaining the summary of all values for all samples, but we might be interested in obtaining grouped by each sample

In [ ]:
## Group by sample and count the combination levels: absent, no_data, polymorphic, present, absent
example_res_all.groupby(['strain', 'combination'])['combination'].agg(['count'])

In [ ]:
## unstack and pivot the table to better understand the results
summary_data = example_res_all.groupby(['strain', 'combination'])['combination'].agg(['count']).unstack()
summary_data

We are going to create a plot for all samples, one in each column and the stacked values of the different levels of combination parameters

In [ ]:
## plot the results of the combination column group by strain and summarized
example_res_all.groupby('strain')['combination'].value_counts().unstack().plot.bar(stacked=True)